:root{
  --el-bg-color-page: #f5f5f5;
}
html,body{
  --el-color-primary: #4170f2;
}
#app {

  .el-aside{
    --el-aside-bg-color: #314153;
    --el-aside-text-color:#bfcbd9;
  }
  .el-menu {
    --el-menu-bg-color: #314153;
    --el-menu-text-color: #bfcbd9;
    --el-menu-hover-bg-color: rgba(255, 255, 255, 0.1);
    --el-menu-hover-text-color: #314153;
    --el-menu-active-text-color: #263243;
  }

  .el-breadcrumb{
    --el-breadcrumb-bg-color: #fff;
  }
  
  .el-table{
    // --el-table-header-bg-color: rgba(var(--el-table-header-text-color), .5);
    th.el-table__cell{
      background-color: rgba(#909399, .1);
    }
  }
}