html, body, #app, #app > div, #app > section{
  height: 100%;
}
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;/*延时渲染背景色来去除背景色*/
}

ul, li{
  list-style: none;
}

.hide{
  display: none;
}

.table-column-after{
  .el-link{
    margin-right: 8px;
  }
}

.text-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nprogress .bar {
  background-color: var(--el-color-primary-dark-2)
}